body{ 
   
	margin:0 auto;
    background-color:Silver;
}
	
	h1,h2,h3 {
color:Maroon;
}

h1{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(229, 225, 233);
    margin-top:0;
    font-size: xx-large;
}
a{
    font-size: x-large;
    text-align: center;
    margin-left: 43%;

}
a:link,a:visited{
    color:rgb(247, 242, 242);
    text-decoration: none;
}
a:hover{
    color:rgb(194, 115, 115);
    background-color: black;
}

body{
    background-image: url(./images/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;

}
title{
    margin-top: 20%;
}

.parent{
    position: absolute;
    top: 40%;
    left: 32%;
}
